target
node_modules
package-lock.json
*.orig
room-web/src/main/webapp/app.bundle.js
room-web/src/main/webapp/app.bundle.js.LICENSE.txt
room-web/src/main/webapp/app.css
room-web/src/main/webapp/images
# Idea IDE
.idea
# Eclipse IDE
.settings
.classpath
.project
/bin/
