@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'),
         url('./assets/fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSansLight';
    src: local('OpenSansLight'),
         url('./assets/fonts/OpenSans-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSansBold';
    src: local('OpenSansBold'),
         url('./assets/fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSansC';
    src: local('OpenSansC'),
         url('./assets/fonts/OpenSans_Condensed-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSansCLight';
    src: local('OpenSansCLight'),
         url('./assets/fonts/OpenSans_Condensed-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSansCBold';
    src: local('OpenSansCBold'),
         url('./assets/fonts/OpenSans_Condensed-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
}

body {
    background-image: url('./assets/bg.jpg');
    font-family: 'OpenSans', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

h1 {
    font-family: 'OpenSansLight', sans-serif;
}

h4 {
    font-family: 'OpenSansBold', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

.room-numbers {
    display: flex;
    flex-direction: row;
    input[type="number"] {
        width: 1rem;
        border: none;
        font-size: 1rem;
        text-align: center;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.players {
    .player {
        font-family: 'OpenSansLight', sans-serif;
        font-size: 1rem;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    column-gap: 3px;
    row-gap: 3px;
    place-items: center;
    justify-content: center;
    align-items: center;
    .card {
        background-image: url('./assets/theCard.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 60px;
        height: 90px;
        color: whitesmoke;
        font-size: 2rem;
    }
}

footer {
    position: absolute;
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    font-size: 0.8rem;
}